@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Open+Sans:wght@400;700&display=swap');
.about{
    padding-bottom: 130px;
    h1{
        color: white;
        font-size: 24px;
        text-align: center;
        margin: 20px;
        font-family: 'Montserrat', sans-serif;
    
        span{
            color: yellow;
            font-weight: bold;
        }
    }
    div{
        border-top: 4px solid yellow;
        border-left: 2px solid yellow;
        margin-left: 20px;
        p{
            color: white;
            font-size: 16px;
            margin: 15px;
            font-family: 'Open Sans', sans-serif;
        }
        span{
            color: yellow;
        }
        span:nth-last-of-type(2){
            font-weight: bolder;
        }
    }
    div:nth-of-type(2){
        border: 2px solid yellow;
        margin: 20px;
        border-radius: 15px;
        padding: 20px;
        h1{
            text-align: left;
            margin: 0;
        }
        p{
            margin: 0;
            
        }
    }
}