@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Open+Sans:wght@400;700&display=swap');
.home {
    padding-top: 15px;
    padding-bottom: 130px;
    h1{
        color: yellow;
        font-size: 22px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        span{
            color: white;
            font-weight: 400;
        }
    }
    a{
        div{
            border: 2px solid yellow;
            border-radius: 15px;
            padding: 20px;
            margin: 40px 20px;
            box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.8);

            h1{
                color: white;
                font-size: 22px;
                text-align: left;
                font-weight: 400;
            }
            p{
                color: red;
                margin: 0;
                font-size: 18px;
                font-family: 'Open Sans', sans-serif;
            }

        }
    }
    
}