@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Open+Sans:wght@400;700&display=swap');
.recert {
    

    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: white;
        text-align: center;
        margin-top: 10px;
    }
    h1:nth-of-type(2){
        color: yellow;
        font-size: 24px;
        font-weight: bold;
    }
    p{
        color: white;
        text-align: center;
    }
    span{
        color: yellow;
    }
    
    .card{
        background-color: black;
        border: 2px solid yellow;
        border-radius: 15px;
        .card-header{
            color: white;
            font-family: 'Montserrat', sans-serif;
        }
        .card-body{
            font-family: 'Montserrat', sans-serif;
            h3{
                color: yellow;
                font-family: 'Montserrat', sans-serif;
            }
            div{
                p{
                    margin: 0;
                
                }
                margin-bottom: 10px;
            }
            p{
                text-align: left;
            }
        }
    }
}