@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Open+Sans:wght@400;700&display=swap');
.recert {
    padding-bottom: 130px;
    
    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: white;
        text-align: center;
        margin-top: 30px;
        @media (min-width: 768px){
            font-size: 28px;
        }

    }
    h1:nth-of-type(2){
        color: yellow;
        font-size: 24px;
        font-weight: bold;
        @media (min-width: 768px){
            font-size: 28px;
            margin-top: 10px;
        }
    }
    p{
        color: white;
        text-align: center;
        @media (min-width: 768px){
            font-size: 20px;
        }
    }
    span{
        color: yellow;
    }
    
    .card{
        margin: 20px;
        border-radius: 15px;
        @media (min-width: 768px){
            font-size: 28px;
        }
        .card-header{
            background-color: yellow;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
        }

        .card-body{
            font-family: 'Open Sans', sans-serif;
            background-color: black;
            color: white;
            h3{
                font-size: 22px;
            }
            p{
                text-align: left;
            }
            div{
                p{
                    margin: 0;
                    font-family: 'Open Sans', sans-serif;
                
                }
                margin-bottom: 10px;
            }
        }
    }
}