@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Open+Sans:wght@400;700&display=swap');

.support{
    padding-bottom: 130px;

    img{
        display: block;
        width: 90%;
        margin: 25px auto;
        @media (min-width: 768px){
            width: 400px;
        }
    }

    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        text-align: center;
        color: white;
    }

    .card{
        margin: 20px;
        border-radius: 15px;
        @media (min-width: 768px){
            font-size: 28px;
        }
        .card-header{
            background-color: yellow;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
        }

        .card-body{
            font-family: 'Open Sans', sans-serif;
            background-color: black;
            color: white;
            h3{
                font-size: 22px;
            }
        }
    }
    button{
        border-radius: 10px;
        background-color: yellow;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        display: block;
        margin: 0 auto;
    }
    h3{
        font-family: 'Montserrat', sans-serif;
        color: white;
        text-align: center;
        padding-top: 20px;
    }
}