@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Open+Sans:wght@400;700&display=swap');
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
.body {
    background-color:black;
    height: 100%;
    
}

html, body, #root {
 height: 100%;
 position: relative;
}

.App{
    min-height: 100vh;
    position: relative;
}

